<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Lets Chat</title>
    <!-- google font -->
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <script src="/socket.io/socket.io.js"></script>

</head>

<body class="body text-white">
    <div class="main">
        <h1 class="text-center mt-4">
            <b>Lets Chat....</b>
        </h1>

        <div class="chat-box-main w-50 mx-auto ">
            <div class="enter-name text-center">
                <label for="client-name"><h5>Enter Your Name</h5> </label>
                <input class="input" type="text" name="client_name" id="client-name">
                <button class="btn btn-danger let-me-chat my-2">Let me chat!!</button>
            </div>
            <div class="mx-auto w-75 text-center" id="msg_for_user"></div>
            <div class="chat-box mt-2 mx-auto">
                <div class="msg-area p-2">
                </div>
                <div class="w-100" id="msg-n-send">
                    <div class="row">
                        <div class="col-sm-8">
                            <input type="text" class="text-msg w-100" id="text-msg">
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-danger send-button w-100">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="javascripts/index.js"></script>
</body>

</html>